{% extends 'base.html'%}


{% block title%}About Us{% endblock title%}
{% block body%}
<div class="just_pad"></div>
<div class="main_box">
    <div class="container">
        <div class="upper_border"></div>
        <div class="about_content">
        <p>
            Welcome to Bright Star,  a dedicated platform aimed at making a positive impact in the lives of students around the world. Our website serves as a hub for those seeking to support educational opportunities and empower students in need.
        </p>
            <p>
                Education is a fundamental right that should be accessible to all, yet many students face significant barriers in pursuing their dreams due to financial constraints. We believe that every student deserves an equal chance to thrive academically and realize their full potential. That's why we have created this donation website—to bridge the gap between deserving students and generous donors.
            </p>
            <p>
                Our platform connects students who require financial assistance,  who are passionate about investing in education. By joining forces, we can break down the financial barriers that hinder academic progress and empower students to build a brighter future for themselves and their communities.
            </p>
            <p>
                Through this website, you have the opportunity to make a lasting impact on the lives of aspiring students. Whether you choose to contribute a small donation or become a recurring donor, your support will directly contribute to covering educational expenses such as tuition fees, textbooks, school supplies, and other essentials that students require to excel in their studies.
            </p>
            <p>
                Together, let's empower the next generation of leaders, innovators, and change-makers by providing them with the educational opportunities they deserve. Join us in transforming lives through education, one donation at a time.
            </p>
        </div>
        <div class="lower_border"></div>
    </div>
</div>
<div class="just_pad2"></div>

{% endblock body%}