{% extends 'base.html'%}


{% block title%}Our Team{% endblock title%}
{% block body%}
<!--<div class="container">-->
<!--    <img src="/media/">-->
<!--</div>-->
<div class="just_pad"></div>
<div>
    <div class="tag_sec text-center">
      <div class="container">
        <h1>Management Team</h1>
        <div class="card-deck my-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/static/img/abdulhadi.jpeg" class="card-img img_cus" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body card_custom">
                <h5 class="card-title">Abdul Hadi</h5>
                <p class="card-text">Abdul Hadi has overseen educational and vocational programs for Deaf Reach Schools, Training Centers & Colleges since 2020</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/static/img/haider.jpeg" class="card-img img_cus" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body card_custom">
                <h5 class="card-title">Haider Imran</h5>
                <p class="card-text">Haider Imran has overseen educational and vocational programs for Deaf Reach Schools, Training Centers & Colleges since 2020</p>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="card-deck my-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/static/img/ibadElahi.jpg" class="card-img img_cus" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body card_custom">
                <h5 class="card-title">Ibad Elahi</h5>
                <p class="card-text">Ibad Elahi has overseen educational and vocational programs for Deaf Reach Schools, Training Centers & Colleges since 2020</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters ">
            <div class="col-md-4">
              <img src="/static/img/canva.jpeg" class="card-img img_cus" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body card_custom">
                <h5 class="card-title">M. Adeel</h5>
                <p class="card-text">M. Adeel has overseen educational and vocational programs for Deaf Reach Schools, Training Centers & Colleges since 2020</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock body%}