{% extends 'base.html'%}


{% block title%}Applications{% endblock title%}
{% block body%}
<div class="just_pad"></div>

<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
            <h3>Ishmam Ahasan Samin</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Institute:</strong>COMSATS University</p>
            <p class="mb-0"><strong class="pr-1">Purpose:</strong>For Due Fee</p>
            <p class="mb-0"><strong class="pr-1">Contact No:</strong>+92 311 11111111</p>
            <p class="mb-0"><strong class="pr-1">About:</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
    		</div>
        <div class="col-lg-12">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
            <h3>Ishmam Ahasan Samin</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Institute:</strong>COMSATS University</p>
            <p class="mb-0"><strong class="pr-1">Purpose:</strong>For Due Fee</p>
            <p class="mb-0"><strong class="pr-1">Contact No:</strong>+92 311 11111111</p>
            <p class="mb-0"><strong class="pr-1">About:</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
    		</div>
        <div class="col-lg-12">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
            <h3>Ishmam Ahasan Samin</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Institute:</strong>COMSATS University</p>
            <p class="mb-0"><strong class="pr-1">Purpose:</strong>For Due Fee</p>
            <p class="mb-0"><strong class="pr-1">Contact No:</strong>+92 311 11111111</p>
            <p class="mb-0"><strong class="pr-1">About:</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
    		</div>
        <div class="col-lg-12">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
            <h3>Ishmam Ahasan Samin</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Institute:</strong>COMSATS University</p>
            <p class="mb-0"><strong class="pr-1">Purpose:</strong>For Due Fee</p>
            <p class="mb-0"><strong class="pr-1">Contact No:</strong>+92 311 11111111</p>
            <p class="mb-0"><strong class="pr-1">About:</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
    		</div>
		</div>
  </div>
</div>
{% endblock body%}
